*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #efefef;
}

.nav {
  position: relative;
  background-color: #000000;
  min-height: 3em;
}
.nav__logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 2rem;
  color: #efefef;
  text-decoration: none;
}
.nav__box {
  display: none;
}
.nav .hamburger {
  position: absolute;
  top: 1.4em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 1000;
}
.nav .hamburger-inner, .nav .hamburger-inner::before, .nav .hamburger-inner::after {
  background-color: #efefef;
  z-index: 1000;
}
.nav .hamburger:focus {
  outline: none;
  border: 1px solid #000000;
}

.header {
  position: relative;
  background-color: #1d75de;
}
.header .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.header__h1 {
  padding: 4rem 2rem;
  font-size: 2.5rem;
  color: #efefef;
}
.header__text {
  padding: 0 2rem;
  margin-bottom: 4rem;
  color: #efefef;
}
.header__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 0 2rem;
  overflow: hidden;
}
.header__btn {
  display: flex;
  justify-content: center;
}
.header__btn-1 {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  background-color: #000000;
  color: #efefef;
  cursor: pointer;
}
.header__btn-color {
  border: 1px solid #efefef;
  background: none;
}
.header__info {
  padding-bottom: 4rem;
  margin-left: 2rem;
  color: #efefef;
  font-size: 1rem;
}
.header__info a {
  color: #efefef;
}

.main {
  background-color: white;
}
.main .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.main .wrapper .benefits__header {
  text-align: center;
  font-size: 2.8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.main .wrapper .benefits__box {
  display: flex;
  margin-bottom: 3rem;
}
.main .wrapper .benefits__box:last-child {
  padding-bottom: 4rem;
}
.main .wrapper .benefits__left {
  margin-left: 2rem;
}
.main .wrapper .benefits__font {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: #efefef;
  border-radius: 50%;
  overflow: hidden;
}
.main .wrapper .benefits__font .fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.main .wrapper .benefits__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}
.main .wrapper .benefits__tag {
  margin-bottom: 1rem;
}

.offer {
  background-color: #efefef;
}
.offer .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.offer__header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 2.8rem;
}
.offer__header-c {
  text-align: center;
  padding: 0 4rem;
  font-size: 1.5rem;
}
.offer__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__box {
  position: relative;
  max-width: 450px;
  background-color: white;
  padding: 2rem 4rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.offer__blue {
  display: inline-block;
  background-color: #1d75de;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.offer__h4 {
  padding: 1rem 0;
  font-size: 2.2rem;
}
.offer hr {
  margin: 2rem 0;
}
.offer__options {
  display: flex;
  flex-direction: column;
}
.offer__options-box {
  display: flex;
  margin-bottom: 1rem;
}
.offer .fa-solid {
  margin-right: 1rem;
}
.offer__button {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
  color: white;
  background-color: black;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: color 0.2s, transform 0.2s;
}
.offer__button:hover {
  transform: scale(1.05);
  color: #1d75de;
}
.offer__describe {
  font-size: 1.3rem;
  line-height: 2rem;
}

.footer {
  padding: 4rem 2rem;
  background-color: #000000;
}
.footer .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.footer__logo {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.footer__link {
  color: white;
  font-size: 2.3rem;
  text-decoration: none;
}
.footer__company {
  display: flex;
  flex-direction: column;
}
.footer__company-list {
  margin-bottom: 3rem;
}
.footer__company-list-item {
  margin-bottom: 2rem;
  color: gray;
  list-style-type: none;
  font-size: 1.6rem;
}
.footer__company-list-caption {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.footer__list-link {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__h1 {
    font-size: 4rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btns {
    display: flex;
    flex-direction: row;
  }
  .header__btn-1 {
    padding: 1rem 2rem;
  }
  .header__btn-color {
    margin-left: 1rem;
  }
  .header__info {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .nav {
    min-height: 5em;
  }
  .nav__logo {
    left: 2em;
  }
  .nav__link {
    font-size: 3rem;
  }
  .nav__box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__box-1 {
    padding-right: 1rem;
    border-right: 1px solid #efefef;
  }
  .nav__box-2 {
    padding-left: 1rem;
  }
  .nav__item {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  .nav__item:hover {
    color: #1ed760;
  }
  .nav .hamburger {
    display: none;
  }
  .main {
    background-color: white;
  }
  .main .wrapper .benefits__header {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .main .wrapper .benefits__boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main .wrapper .benefits__box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .main {
    background-color: white;
  }
  .main .wrapper .benefits__header {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .main .wrapper .benefits__boxes {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .main .wrapper .benefits__box {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .wrapper .benefits__box:last-child {
    padding-bottom: 0;
  }
  .main .wrapper .benefits__left {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .main .wrapper .benefits__tag {
    text-align: center;
  }
  .main .wrapper .benefits p {
    text-align: center;
  }
  .offer__header {
    font-size: 3.4rem;
    padding-top: 6rem;
  }
  .offer__header-c {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  .offer__boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6rem;
  }
  .offer__box {
    position: relative;
    width: 25%;
    background-color: white;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}/*# sourceMappingURL=main.css.map */