@media (min-width: 992px) {
	.nav {
		min-height: 5em;

		&__logo {
			left: 2em;
		}
		&__link {
			font-size: 3rem;
		}

		&__box {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 30%;
			right: 5%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		&__box-1 {
			padding-right: 1rem;
			border-right: 1px solid $gray;
		}

		&__box-2 {
			padding-left: 1rem;
		}
		&__item {
			font-size: 2rem;
			padding: 1rem;
			color: white;
			text-decoration: none;
			transition: color 0.3s;
			&:hover {
				color: $hover;
			}
		}
		.hamburger {
			display: none;
		}
	}

	.main {
		background-color: white;
		.wrapper {
			.benefits {
				&__header {
					font-size: 4rem;
					margin-bottom: 3rem;
				}
				&__boxes {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
				}
				&__box {
					width: 50%;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.main {
		background-color: white;
		.wrapper {
			.benefits {
				&__header {
					font-size: 4rem;
					margin-bottom: 3rem;
				}
				&__boxes {
					display: flex;
					justify-content: center;
					padding-bottom: 4rem;
				}
				&__box {
					width: 25%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				&__box:last-child {
					padding-bottom: 0;
				}
				&__left {
					margin-left: 0;
					margin-bottom: 2rem;
				}
				&__tag {
					text-align: center;
				}
				p {
					text-align: center;
				}
			}
		}
	}
}
