@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: $gray;
}

.nav {
	position: relative;
	background-color: $black;
	min-height: 3em;

	&__logo {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1rem;
		display: flex;
		align-items: center;
	}
	&__link {
		font-size: 2rem;
		color: $gray;
		text-decoration: none;
	}
	&__box {
		display: none;
	}

	.hamburger {
		position: absolute;
		top: 1.4em;
		right: 1em;
		transform: translateY(-50%);
		z-index: 1000;

		&-inner,
		&-inner::before,
		&-inner::after {
			background-color: $gray;
			z-index: 1000;
		}

		&:focus {
			outline: none;
			border: 1px solid $black;
		}
	}
}

.header {
	position: relative;
	background-color: $blue;
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	&__h1 {
		padding: 4rem 2rem;
		font-size: 2.5rem;
		color: $gray;
	}

	&__text {
		padding: 0 2rem;
		margin-bottom: 4rem;
		color: $gray;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		padding: 0 2rem;
		overflow: hidden;
	}
	&__btn {
		display: flex;
		justify-content: center;
	}
	&__btn-1 {
		margin-bottom: 1rem;
		width: 100%;
		border-radius: 15px;
		padding: 1rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		border: none;
		background-color: $black;
		color: $gray;
		cursor: pointer;
	}
	&__btn-color {
		border: 1px solid $gray;
		background: none;
	}

	&__info {
		padding-bottom: 4rem;
		margin-left: 2rem;
		color: $gray;
		font-size: 1rem;
		a {
			color: $gray;
		}
	}
}

.main {
	background-color: white;
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		.benefits {
			&__header {
				text-align: center;
				font-size: 2.8rem;
				padding-top: 4rem;
				padding-bottom: 4rem;
			}
			&__box {
				display: flex;
				margin-bottom: 3rem;
			}
			&__box:last-child {
				padding-bottom: 4rem;
			}
			&__left {
				margin-left: 2rem;
			}
			&__font {
				position: relative;
				width: 10rem;
				height: 10rem;
				background-color: $gray;
				border-radius: 50%;
				overflow: hidden;

				.fa-solid {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 4rem;
				}
			}
			&__right {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 1.5rem;
			}
			&__tag {
				margin-bottom: 1rem;
			}
		}
	}
}

.offer {
	background-color: $gray;
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}
	&__header {
		text-align: center;
		padding-top: 3rem;
		padding-bottom: 1rem;
		font-size: 2.8rem;
	}
	&__header-c {
		text-align: center;
		padding: 0 4rem;
		font-size: 1.5rem;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__box {
		position: relative;
		max-width: 450px;
		background-color: white;
		padding: 2rem 4rem;
		margin: 2rem;
		border-radius: 10px;
		box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
	}
	&__blue {
		display: inline-block;
		background-color: $blue;
		padding: 0.5rem 1rem;
		border-radius: 6px;
		font-weight: bold;
		color: white;
	}

	&__h4 {
		padding: 1rem 0;
		font-size: 2.2rem;
	}
	hr {
		margin: 2rem 0;
	}
	&__options {
		display: flex;
		flex-direction: column;
	}
	&__options-box {
		display: flex;
		margin-bottom: 1rem;
	}
	.fa-solid {
		margin-right: 1rem;
	}
	&__button {
		width: 100%;
		margin-top: 2rem;
		padding: 1rem 2rem;
		text-transform: uppercase;
		font-weight: bold;
		border-radius: 30px;
		color: white;
		background-color: black;
		cursor: pointer;
		margin-bottom: 2rem;
		transition: color 0.2s, transform 0.2s;

		&:hover {
			transform: scale(1.05);
			color: $blue;
		}
	}

	&__describe {
		font-size: 1.3rem;
		line-height: 2rem;
	}
}

.footer {
	padding: 4rem 2rem;
	background-color: $black;
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}
	&__logo {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	&__link {
		color: white;
		font-size: 2.3rem;
		text-decoration: none;
	}
	&__company {
		display: flex;
		flex-direction: column;
	}

	&__company-list {
		margin-bottom: 3rem;
	}

	&__company-list-item {
		margin-bottom: 2rem;
		color: gray;
		list-style-type: none;
		font-size: 1.6rem;
	}
	&__company-list-caption {
		text-transform: uppercase;
		font-size: 1.4rem;
	}

	&__list-link {
		color: white;
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: $hover;
		}
	}

	&__social-boxes {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	&__social-box {
		position: relative;
		width: 50px;
		height: 50px;
		margin-right: 2rem;
		background-color: rgb(37, 37, 37);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.fa-brands {
			color: white;
			font-size: 2rem;
			transition: color 0.2s;
			&:hover {
				color: $hover;
			}
		}
	}
	&__country {
		padding: 2rem 0;
		text-align: end;
		&-link {
			color: gray;
			text-decoration: none;
			font-size: 1.2rem;
		}
		span {
			transition: color 0.2s;
			&:hover {
				color: $hover;
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';
