@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: $gray;
}

.nav {
	position: relative;
	background-color: $black;
	min-height: 3em;

	&__logo {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1rem;
		display: flex;
		align-items: center;
	}
	&__link {
		font-size: 2rem;
		color: $gray;
		text-decoration: none;
	}
	&__box {
		display: none;
	}

	.hamburger {
		position: absolute;
		top: 1.4em;
		right: 1em;
		transform: translateY(-50%);
		z-index: 1000;

		&-inner,
		&-inner::before,
		&-inner::after {
			background-color: $gray;
			z-index: 1000;
		}

		&:focus {
			outline: none;
			border: 1px solid $black;
		}
	}
}

.header {
	position: relative;
	background-color: $blue;
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	&__h1 {
		padding: 4rem 2rem;
		font-size: 2.5rem;
		color: $gray;
	}

	&__text {
		padding: 0 2rem;
		margin-bottom: 4rem;
		color: $gray;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		padding: 0 2rem;
		overflow: hidden;
	}
	&__btn {
		display: flex;
		justify-content: center;
	}
	&__btn-1 {
		margin-bottom: 1rem;
		width: 100%;
		border-radius: 15px;
		padding: 1rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		border: none;
		background-color: $black;
		color: $gray;
		cursor: pointer;
	}
	&__btn-color {
		border: 1px solid $gray;
		background: none;
	}

	&__info {
		padding-bottom: 4rem;
		margin-left: 1rem;
		color: $gray;
		font-size: 1rem;
	}
}

@import './small';
@import './medium';
@import './large';
